# Destructors for all labworks
*/destructor.sh

# Exporterst for all labworks
*/xporter.sh

# SSH Keys
*.pem

# Credentials
*/set-env.sh

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Lock files
*.terraform.lock.*